body {
  margin: 20px;
}

.container {
  background: #ffc;

  div {
    margin-block: 20px;
  }

  .like {
    column-width: 100px;
    column-rule: 5px solid green;
  }

  .lion {
    column-count: 2;
    column-rule: 5px solid red;

    .euid {
      display: block; /*column-span은 인라인이 아닌 블록 속성이여야 한다.*/
      background: teal;
      color: white;
      column-span: all;
      padding: 0.5em 1em;
    }
  }

  .bootcamp {
    columns: 3 100px; /*column-count와 column-width를 같이 줄 수 있다.*/
    column-gap: 50px;
  }
}
